################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MainTest/.vs/MainTest
/MainTest/bin/Debug/netcoreapp3.1
/MainTest/obj
*.suo
